body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.container,
.image {



    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out; 

}


.container,
.image {
    opacity: 1; 
}


.hidden {
    opacity: 0;
    pointer-events: none;
}


.slide-left .container {
    transform: translateX(-100%);
    opacity: 0; 
}

.slide-left .image {
    transform: translateX(150%);
    opacity: 0;
}

.slide-right .container {
    transform: translateX(5%);
    opacity: 0;
}

.slide-right .image {
    transform: translateX(-150%);
    opacity: 0; 
}


.slide-right .container,
.slide-left .container {
    transition: transform 0.6s ease-in-out, opacity 0.5s ease-in-out; 
}

.slide-right .image,
.slide-left .image {
    transition: transform 0.6s ease-in-out, opacity 0.5s ease-in-out; 
}
