body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #7C8761 0%, #80AF81 53%, #1A5319 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(0deg, #508D42 0%, #161515 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 80vw;
    line-height: 1;
    position: absolute;
    top: 5%;
}


.profile-picture {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    position: relative;
    top: 16%;
    margin-bottom: 4vw;
}

.profile-picture img {
    width: 6vw;
    height: auto;
    object-fit: cover;

}


.image {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 30%;
    height: 60%;
    z-index: 0;
}


main.container {
    box-sizing: border-box;
    position: absolute;
    left: 60%;
    top: 10%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 55px;
    border: 1px solid rgba(241, 241, 241, 0.48);
    backdrop-filter: blur(94.87px);
    box-shadow: 47.43px -47.43px 47.43px rgba(194, 194, 194, 0.1), -47.43px 47.43px 47.43px rgba(255, 255, 255, 0.1);
    max-width: 733px;
    width: 65vw;
    height: 68.58vh;
    margin: 5vh auto;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo {
    position: absolute;
    top: 1vw;
    left: 3vw;
    width: 4vw;
    height: auto;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    width: 100%;
}


.form-column {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    position: relative;
    bottom: 20%;
}

.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-container input {
    width: 100%;
    padding: 1rem;
    border: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
    color: #D6EFD8;
}

.input-container label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #D6EFD8;
    font-size: 1rem;
    transition: all 0.2s ease;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -0.5rem;
    left: 1rem;
    font-size: 0.75rem;
    color: #D6EFD8;
    padding: 0 0.25rem;
}

.input-container hr {
    border: 0;
    height: 0.2vh;
    border-top: 1px solid #1A5319;
    width: 90%;
    position: absolute;
    bottom: -1.5vh;
    left: 2vh;
    margin-top: 5px;
    margin-bottom: 15px;
}



.description {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: lighter;
    text-align: center;
}


button {
    background-color: #7C8761;
    color: #FFFFFF;
    border: 1px solid #FCFCFC;
    border-radius: 25px;
    width: 100%;
    max-width: 100%;
    height: 6vh;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-top: 0vh;
    position: relative;
}

button:hover {
    background-color: #6b7751;
    border-color: #FCFCFC;
}


.login-link {
    text-align: center;
    margin-top: 2vh;
}

.account-link-container {
    width: 100%;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #D6EFD8;
    text-align: left;
    margin-top: 0.3vh;
    position: relative;

}

.account-link-container .account-text {
    color: #D6EFD8;
    margin-right: 0.5vw;
    font-size: 0.8rem;
}

.account-link-container .login-link,
.account-link-container .signup-link {
    color: #1A5319;
    font-weight: 700;
    text-decoration: none;
}

.account-link-container .login-link:hover,
.account-link-container .signup-link:hover {
    text-decoration: underline;
}


.code-input input[type="text"] {
    width: 2vw;
    height: 4vh;
    border-radius: 15%;
    background-color: #D6EFD8;
    border: none;
    margin: 0.6vh;
    position: relative;
    top: 50%;
}


.images {
    position: relative;
    max-width: 100%;
    width: 150px;
    height: auto;
    top: 60%;
}


.forgot-password {
    width: 100%;
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #D6EFD8;
    text-align: left;
    margin-top: 1vh;
    position: absolute;
    left: 40%;
    bottom: 13%;
}

@media (max-width: 1024px) {
    .image {
        top: 10%;
        left: 5%;
        width: 50%;
    }

    main.container {
        width: 90vw;
        height: auto;
        top: 20%;
        padding: 4vw;
    }

    h1 {
        font-size: 1.75rem;
    }

    .profile-picture img {
        width: 100px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }
}

/* Mobile devices */
@media (max-width: 768px) {
    .image {
        top: 5%;
        left: 5%;
        width: 60%;
    }

    main.container {
        width: 95vw;
        top: 25%;
        padding: 3vw;
    }

    h1 {
        font-size: 1.5rem;
    }

    .profile-picture img {
        width: 80px;
    }

    .input-container input {
        font-size: 0.9rem;
    }

    button {
        height: 5vh;
        font-size: 0.9rem;
    }
}

/* Extra small devices */
@media (max-width: 480px) {
    .image {
        width: 70%;
        top: 0%;
        left: 10%;
    }

    main.container {
        width: 100vw;
        top: 20%;
        padding: 2vw;
    }

    h1 {
        font-size: 1.25rem;
    }

    .profile-picture img {
        width: 60px;
    }

    .input-container input {
        font-size: 0.8rem;
    }

    button {
        height: 4.5vh;
        font-size: 0.8rem;
    }

    .account-link-container {
        left: 10%;
        bottom: 2%;
    }
}